{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <title>Django Projects</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/Project">Projects</a>
            </li>
            <li>
                <a href="/Task">Task</a>
            </li>
            <li>
                <a href="/create_task">Create Task</a>
            </li>
        </ul>
    </nav>
    {%block content%}
    <h1>{{title}}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, magnam? Facere officiis esse, voluptatum alias accusamus rerum delectus non praesentium expedita omnis, reiciendis laudantium! Rem voluptatem minima assumenda atque repellat!</p>
    {%endblock%}
</body>
</html>